* {
    overflow: hidden;
    margin: 0;
    image-rendering: auto;
}

::-webkit-scrollbar {
    display: none;
}

#menu {
    visibility: hidden;
    position: fixed;
    width: 500px;
    color: greenyellow;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: gray;
    border-radius: 30px;
    opacity: 0.9;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    scale: 0.5;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #22ff00;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 13px;
    bottom: 4px;
    background-color: #f4f4f4;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ff0000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.input-range {
    width: 100px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-size: 14px;
}

h2 {
    font-size: 13px;
    font-family: Arial;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

.particle-container {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

#particle1c {
    background-color: darkcyan;
}

#particle3c{
    background-color: #15b0b0;
}
#show-menu {
    position: fixed;
    bottom: 5%;
    right: 2%;
    background-color: gray;
    font-family: Arial;
    border: none;
    color: #f4f4f4;
    font-size: 25px;
}
