body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: #000000;
    font-family: Arial, sans-serif;
}

canvas {
    height: 1000px;
    background-color: black;
}

label {
    display: block;
    margin-top: 10px;
}

input, button {
    margin-top: 5px;
}
